.sign-in {
  width: 50%;
  height: 100%;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.move_to_registration > a {
  cursor: pointer;
}

.sign-in form {
  margin-top: 80px;
  margin-bottom: 50px;
}

.move_to_registration a {
  text-decoration: none;
}

@media (max-width: 580px) {
  .sign-in {
    width: 100%;
    font-size: 80%;
  }
  .sign-in form {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .sign-in {
    padding: 50px 20px;
  }
}
